<% layout('layouts/boilerplate') %>
<div class="row">

  <div class="col-6 offset-2">
    <img src="pictures/Elephant.png" alt="el">
  </div>

  <hr>

  <div class="col-6 offset-3">
    <h1>Because only then, we could get closer to see a better picture!</h1>
  </div>

  <hr>

  <div class="col-6 offset-3 mb-3">
    <h1 class="text-center">Follow 3 simple steps and join our scholastic community!</h1>
  </div>
  <div class="col-6 offset-3">
    <h2>1. Find the book you read or upload a new book,</h2>
    <h2>2. Share your reflections on the book,</h2>
    <h2>3. Read other reflections and see how we could benefit from each other to see the bigger picture!</h2>
  </div>


<div class="col-6 offset-3">
  <h2></h2>
</div>
  <hr>

</div>

<%- include('../partials/footer') %>
